<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

## Author
Alexander Douglass

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List common libraries used by Data Scientists.
- Create a table of useful data science tools.
- Provide examples of python expressions.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Tensorflow
4. Matplotlib
5. Pandas

| Data Science Tools |
| :-: |
| RStudio |
| Jupyter Notebooks |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python
7*4+52

8//3

6/2+(7-3)

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335